aioresponses
asynctest
flake8
mock
pytest==3.3.2  # pytest-sugar  # https://github.com/Frozenball/pytest-sugar/pull/133
pytest-aiohttp
pytest-cache
pytest-cover
pytest-sugar
swagger-spec-validator
tox
wheel
zest.releaser
