aiohttp==2.2.5
aiohttp-cors==0.5.3
aiohttp-swagger==1.0.5
async-timeout==1.2.1
chardet==3.0.4
cssselect==1.0.1
Jinja2==2.9.6
lxml==3.8.0
MarkupSafe==1.0
multidict==3.1.3
pyquery==1.2.17
PyYAML==3.12
ruamel.yaml==0.15.23
typing==3.6.2
yarl==0.12.0
