aiohttp
aiohttp_cors
aiohttp_swagger
aioresponses
asyncio
asynctest
flake8
mock
pyquery
pytest>=8.2.0
pytest-aiohttp
pytest-asyncio>=0.23.6
pytest-cache
pytest-cover
ruamel.yaml
swagger_spec_validator
zest.releaser
