# Prod
aiohttp==2.3.10
aiohttp-cors==0.6.0
aiohttp-swagger==1.0.5
async-timeout==2.0.0
chardet==3.0.4
cssselect==1.0.3
idna==2.6
idna-ssl==1.0.0
Jinja2==2.10
lxml==4.1.1
MarkupSafe==1.0
multidict==4.1.0
pyquery==1.4.0
PyYAML==4.2b4
ruamel.yaml==0.15.35
yarl==1.1.1

# Dev
aioresponses
asynctest
flake8
mock
pytest
pytest-aiohttp
pytest-cache
pytest-cover
pytest-sugar
swagger-spec-validator
tox
zest.releaser
